<!-- <div *ngxAccess="'UserForm.FirstName : Read'; else unauthorized"> Hello World </div> -->

<div *ngxAccessExpr="'CanWrite'; else noWriteAccess">
  Component with CanWrite access
</div>
<ng-template #noWriteAccess>
    <div style="color: red">
      User doesn't have CanWrite access
    </div>
  </ng-template>

<input type="text" value="CanRead" #expr /> <button (click)="expression=expr.value">Evaluate</button>
<ng-container *ngIf="expression">
  <div *ngxAccessExpr="expression; else missingAccess">
    Component with {{expression}} access
  </div>
</ng-container>

<ng-template #missingAccess>
  <div style="color: red">
    User doesn't have {{expression}} access
  </div>
</ng-template>