<app-user></app-user>

<h1 *ngxAccess="'Write'"> Write </h1>


<!-- <h2 *ngxAccess="'User:Write'"> User:Write </h2>

<label *ngxAccess="'User.FirstName:Write'; else missingAccess">
  User.FirstName:Write
</label> -->

<hr />

<!-- <div *ngxAccess="'User.Login:Write'; else missingAccess">
  User.Login:Write
</div>

<div *ngxAccess="'User.Other:Write'; else missingAccess">
  User.Other:Write
</div>

<div *ngxAccess="'Main:Write'; else missingAccess">
  Main:Write
</div>

<div *ngxAccess="'Main.Something:Write'; else missingAccess">
  Main.Something:Write
</div> -->

<ng-template #missingAccess>
  <div style="color: red">
    User doesn't have access
  </div>
</ng-template>

<hr />

Debug <input type="checkbox" (click)="debug(check.checked)" [checked]="debug$|async" #check />
<h3>Configuration</h3>
<pre>{{accesses | json}}</pre>


<button (click)="copy()"> Copy </button>